.top-left{
    position: absolute;
    top: 15px;
    left: 40px;
}

.top{
    position: absolute;
    top: 50px;
    left: 44%;
    z-index:3;
    color: white;
    font-size: small;
}

.top-right{
    position: absolute;
    top: 0px;
    right: 0px;
}

.bottom_left{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.bottom_right{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.text_block{
    width: 150px;
    background-color: black;
    z-index:3;
    margin:0;
    padding: 10px 10px 10px 30px;
}

.tools{
    display: block;
}
.detail{
    position: relative;
    left: 150px;
    /* display: none; */
}
.Explore{
    position: relative;
    top: -194px;
    display: none;
    width: max-content;
}

.Explore .text_block{
    width: auto;
}

.Story{
    position: relative;
    top: -150px;
    display: none;
}
.Story .text_block{
    width: auto;
}

.Plan{
    position: relative;
    top: -107px;
    display: none;
}

.Plan .text_block{
    width: auto;
}

.sign_in{
    z-index:4;
}

h3{
    position: relative;
    color:white;
    font-size: medium;
    left: 20px;
}

.txt{
    position: relative;
    text-align: right;
    top: 60px;
    right: 100px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#IMG_5{
    position: absolute;
    top: 15px;
    left: 150px;
    z-index:0;
    width: 80%;
    height: 730px;
    display: none;
}

#back{
    position: absolute;
    background-size: cover;
    background-position: center center;
    z-index:-1;
    width: 100%;
    background-repeat: repeat-y;
}

.container{
    position: absolute;
    width: 100%;
}

body {
    display: block;
    margin: 0px;
}

.text_block:hover{
    background-color: grey;
}

.title:hover{
    background-color: black;
}

.icon:hover{
    filter: brightness(70%);
}

#title{
    position: absolute;
    left: 30%;
}

.sign_in_panel{
    position: absolute;
    top: 92px;
    left: 35%;
    height: 600px;
    width: 400px;
    background-color: whitesmoke;
    z-index:5;
    border: 5px;
    border-radius: 30px;
    border-color: gray;
    display: none;
}

.sign_in_block{
    position: relative;
    width: 60%;
    z-index:6;
    border: solid 1px rgb(61, 61, 61);
    margin: 1px 20% 10px;
    font-size: medium;
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: white;
}

p{
    text-align:center;
}

h4{
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align:center;
    margin-block: 0px 5px;
}

.close_botton{
    position: absolute;
    top: 5px;
    right: 10px;
    z-index:6;
    font-size: large;
}

.sign_in_title{
    margin-block: 60px 30px;
}

.sep{
    left: 24px;
    margin-top: 9px;
    position: relative;
    width: 124px;
    border: solid 1px rgb(86, 85, 85);
    z-index:6;
    height: 0;
}

.line{
    margin-top: 60px;
    display: flex;
}

.OR{
    position: relative;
    margin: 0 40px 0;
    text-align:center;
    left: 24px;
    font-size: large;
}

.sign_in_table{
    margin: 30px auto 5px;
    display: grid;
}

.UserInput{
    width: 60%;
    margin: 5px auto 5px;
    border: solid 1px rgb(86, 85, 85);
    border-radius: 10px;
    height: 29px;
}

.submit_button{

    border: solid 1px rgb(20, 203, 47);
    color: white;
    border-radius: 18px;
    background-color: rgb(20, 203, 47);
    width: 160px;
    height: 30px;
    font-size: larger;
}

.A{
    margin: 40px auto -12px;

}

.hiden {
    opacity: 0.1;
}

.page{
    display: block;
}

.fixed{
    position: fixed !important;
}

.ellipses{
    position: absolute;
    bottom: 78px;
    left: 21px;
    background: #ffffff;
    width: 28px;
    height: 54px;
    border-radius: 50%;
    z-index: 5;
    align-content: center;
}

.ellipses2{
    position: absolute;
    bottom: 81px;
    left: 54px;
    background: #ffffff;
    width: 28px;
    height: 54px;
    border-radius: 50%;
    z-index: 5;
}

.eye_ball{
    position: relative;
    top: 15px;
    left: 10px;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.3);
}

.slide__dot {
    padding: 5px 5px;
    display: flex;
    position: relative;
    bottom: 827px;
    left: 733px;
    width: 136px;
    transform: translateX(-50%);
}

.side_control{
    display: grid;
    grid-template-columns: repeat(30, 50px);
    grid-template-rows: repeat(30, 50px);
    grid-auto-rows: minmax(100px, auto);
}

.slide__arraw {
    line-height: 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(95, 95, 95) !important;
    text-align: center;
    margin: 16px;
    z-index: 9;
}

.slide__arraw--prev {
    position: relative;
    grid-column: 2;
    grid-row: 9;
}
.slide__arraw--next {
    position: relative;
    grid-column: 29;
    grid-row: 9;
}

.back{
    grid-column: 2;
    grid-row: 9;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
}

.right{
    grid-column: 29;
}

.fades {
  animation: 1.5s fades;
}
@keyframes fades {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slideshow {
    position: relative;
    transition: 2s;
    user-select: none;
}
  
.slide__item {
    /* display: none; */
    position: relative;
    overflow: hidden;
}

.show{
    display: block !important;
}

.initial{
    background:"rgba(255, 255, 255, 0.9)";
}

/**hover**/
.submit_button:hover{
    cursor: pointer;
}

.close_botton:hover{
    cursor: pointer;
}

.sign_in_block:hover{
    cursor: pointer;
}

 #IMG_5:hover{
    transform: scale(1.05);
    transition: 0.8s;
}

.active,
.dot:hover {
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.slide__arraw:hover{
    color: #123cd3 !important;
    cursor: pointer;
}